* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  box-sizing: border-box;
  font-size: 24px;
}

.main-container {
  max-width: 1200px;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid black;
}

.profile-pic img {
  height: 200px;
  border-radius: 50%;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-heading {
  font-size: 4rem;
  margin-bottom: 10px;
}

.job-description {
  font-size: 1.2rem;
}

.main-cv {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1;
}

.profile-work-exp-container {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
}

.contact-education-container {
  grid-row: 1 / -1;
}
