body,
html {
  margin: 0;
  padding: 0;
}

.navbar-brand {
  font-family: "Raleway", sans-serif;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.43);
}

.weather-icon {
  width: 120px;
}

.higher {
  transform: translate(0, -10px);
}

.card {
  border-radius: 20px;
  min-width: 300px;
  animation: 1s cubic-bezier(0.47, -0.91, 0.46, 1.81) forwards;
}

.navbar {
  border-radius: 15px;
}

.exit-icon {
  cursor: pointer;
}

.modal-content {
  border-radius: 20px;
}

.cards-container {
  min-height: 50vh;
}
@keyframes create-card {
  0% {
    transform: translateY(-150vh);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes delete-card {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-150vh);
  }
}
