* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
.main-container {
  padding: 3rem 15rem;
  display: flex;
}

.login {
  padding: 1rem;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  background-color: #e9ecef;
  color: rgb(128, 128, 128);
  border-radius: 25px 0 0 25px;
}

.main-heading {
  margin-bottom: 1rem;
  font-size: 2.4rem;
  font-weight: 800;
  color: rgb(66, 66, 66);
}

.input-box {
  border: none;
  padding: 1rem;
  width: 100%;
  height: 1rem;
  border-radius: 5px;
}

.input-box:focus {
  outline: 2px solid rgba(162, 83, 236, 0.39);
}

.input-box:first-child {
  margin-bottom: 1rem;
  background-color: rgb(211, 211, 211);
}

.forgot-pass-checkbox {
  display: flex;
  justify-content: center;
  gap: 4.2rem;
  align-items: center;
}

.btn {
  border: none;
  width: 100%;
  height: 2rem;
  cursor: pointer;
  background-color: #a253ec;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  margin: 2rem 0;
  border-radius: 10px;
  border: 1px solid rgba(255, 0, 0, 0);
}

.btn:hover {
  background-color: #8242bd;
  border: 1px solid rgb(0, 0, 0);
}

.connect-with {
  display: block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgb(128, 128, 128);
  line-height: 0.1rem;
}

.connect-with span {
  background: #e9ecef;
  padding: 0 10px;
}

.list-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
  gap: 1rem;
}

.fa-brands {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  color: #747474;
}

aside {
  width: 50%;
  background-image: linear-gradient(
    to bottom right,
    rgb(71, 4, 71),
    rgb(137, 3, 190)
  );
  text-align: center;
  color: #fff;
  border-radius: 0 25px 25px 0;
}
.fa-solid {
  font-size: 6rem;
  color: #fff;
  margin: 2rem 0 2rem 2rem;
}

aside > p {
  margin: 1.5rem;
}

.reg-btn {
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
  padding: 15px 30px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 800;
  transition: all 0.3s;
}

.reg-btn:hover {
  transform: scale(1.2);
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}

.fa-regular {
  font-size: 1.2rem;
  vertical-align: bottom;
  margin-left: 5px;
}

.forgot-link:link,
.forgot-link:visited {
  text-decoration: none;
  color: rgb(128, 128, 128);
}

#remember-me {
  transform: scale(1.1);
}

@media (min-width: 1300px) {
  .main-container {
    padding: 3rem 20rem;
  }
}
@media (min-width: 1550px) {
  .main-container {
    padding: 3rem 25rem;
  }
}

@media (min-width: 1700px) {
  .main-container {
    padding: 3rem 30rem;
  }
}
@media (max-width: 1190px) {
  .main-container {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
  }

  .login {
    border-radius: 25px 25px 0 0;
  }

  aside {
    border-radius: 0 0 25px 25px;
    padding-bottom: 2rem;
  }

  .forgot-pass-checkbox {
    flex-direction: column;
    gap: 1rem;
  }

  body {
    font-size: 14px;
  }
}

@media (max-width: 950px) {
  .login {
    width: 100%;
  }
  aside {
    width: 100%;
  }

  .main-container {
    padding: 3rem 2rem;
  }
}
