body,
html {
  font-family: sans-serif;
}

.main-heading {
  font-family: "Bungee Inline", cursive;
}

.form-section {
  border-radius: 15px;
  background-color: #f2ebe9;
}

.task-container {
  background-color: #f2ebe9;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.5s;
}

.submit-btn {
  transition: all 0.5s;
}

.submit-btn:hover {
  transform: scale(1.05);
}

.task-container:hover {
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .form-section {
    max-width: 97vw;
  }

  .task-container {
    max-width: 97vw;
  }
}

#status-input {
  transform: scale(1.1);
}

.fa-pen-to-square,
.fa-check {
  margin-right: auto;
  font-size: 38px;
  color: rgb(148, 148, 148);
  cursor: pointer;
}
