.container {
  width: fit-content;
  height: fit-content;
  margin: auto;
  box-shadow: 0 0 19px 7px rgb(0 0 0 / 9%);
  border-radius: 20px;
}

.input {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
}

.input:focus {
  outline: none;
  border: none;
}

.btn {
  height: 100%;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-left: -30px;
  background-color: rgb(159, 120, 196);
  color: #fff;
  transition: all 0.5s;
}

.btn:hover {
  transform: scale(1.05);
}
